<header>
  <app-header></app-header>
  <h1>Главная страница</h1>
</header>

<router-outlet></router-outlet>

<section class="home" id="home">
  <div class="swiper home-slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide" style="background: url(../../../assets/images/man-1282232_1920.jpg) no-repeat;">
        <div class="content">
          <span>Будь сильным! Будь спортивным!</span>
          <h3>Сделай себя сильнее своих недостатков</h3>
          <a routerLink="/workout/choosing-workout" class="btn">Начать</a>
        </div>
      </div>

      <div class="swiper-slide slide" style="background: url(../../../assets/images/man-2604149_1920.jpg) no-repeat;">
        <div class="content">
          <span>будь сильным, будь спортивным</span>
          <h3>Сделай себя сильнее своих недостатков</h3>
          <a routerLink="/workout/choosing-workout" class="btn">Начать</a>
        </div>
      </div>

      <div class="swiper-slide slide" style="background: url(../../../assets/images/dumbbell-1966247_1280.jpg) no-repeat;">
        <div class="content">
          <span>будь сильным, будь спортивным</span>
          <h3>Сделай себя сильнее своих недостатков</h3>
          <a routerLink="/workout/choosing-workout" class="btn">Начать</a>
        </div>
      </div>

    </div>


    <div class="swiper-pagination"></div>


  </div>

</section>

<footer>
  <app-footer></app-footer>
</footer>



