<header class="header">
  <a [routerLink]="['#']" class="logo"><span>YouCa</span>nMore</a>

  <div id="menu-btn" class="fas fa-bars"></div>

  <nav class="navigation" >
    <ul>
      <li><a routerLink="/home">Главная</a></li>
      <li><a routerLink="/about">О нас</a></li>
      <li><a routerLink="/workout/choosing-workout">Тренировки</a></li>
      <li><a routerLink="/blog">Блог</a></li>
      <li><a routerLink="/profile">Профиль</a></li>
      <li><button (click)="logout()" routerLink="/auth/login" >Выйти</button></li>
    </ul>
  </nav>
</header>




