

<header>
  <h1>Кардио тренировка</h1>
</header>

<main>
  <ul class="exercise-list">
    <li class="exercise">
      <h2>Понедельник</h2>
      <p>Беговая дорожка - 3 км</p>
      <p>Бёрпи 3х12</p>
      <p>JampingJack 30х3</p>
      <p>динамическая планка</p>
      <p>пресс: скручивания, подъём ног на перекладине, велосипед, русские скручивания</p>

    </li>

    <li class="exercise">
      <h2>Среда</h2>
      <p>жим стоя — 4х8</p>
      <p>становая тяга — 4х8</p>
      <p>подтягивания за голову — 3х8</p>
      <p>подъем на носки с гантелей — 3х12</p>
      <p>гиперэкстензии — 3х12</p>
      <p>пресс: боковые планка со скручиванием, подъём ног на перекладине, динамическая планка</p>
    </li>

    <li class="exercise">
      <h2>Пятница</h2>
      <p>жим лежа узким хватом — 4х8</p>
      <p>трицепс на блоке — 3х10</p>
      <p>бицепс со штангой стоя — 3х10</p>
      <p>бицепс с гантелями — 3х10</p>
      <p>пресс: горизонтальные ножницы на спине, двойные скручивания, set up</p>
    </li>
  </ul>



  <div class="workout-tracker-container">
    <div class="pulse-input">
      <label>Пульс:</label>
      <input type="number" class="pulse-number-input" [(ngModel)]="pulse">
    </div>
    <button class="add-button" (click)="addWorkoutToHistory()">Добавить в историю</button>
  </div>
</main>


