<header>
  <app-header></app-header>
</header>

<h2 class="header">Тренерский состав</h2>
<main class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group class="block">
        <mat-card-title>Юрий Александрович Спасокукоцкий</mat-card-title>
        <img class="img" mat-card-xl-image src="../../../../assets/images/YuriS.jpeg">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="text">
      {{trainer1}}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group class="block">
        <mat-card-title>Дмитрий Голубочкин</mat-card-title>
        <img class="img" mat-card-xl-image src="../../../../assets/images/Dmitri.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="text">
      {{trainer2}}
    </mat-card-content>
  </mat-card>
</main>



<footer>
  <app-footer></app-footer>
</footer>
