<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Регистрация</h1>
    </div>

    <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <div class="control-group">
        <input type="text" placeholder="Имя" formControlName="name"  required>
        <label class="login-field-icon fui-user" for="reg-name"></label>
        <div *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched"></div>
        <span *ngIf="signUpForm.get('name')!.hasError('required')">Поле: "Имя" не может быть пустым</span>
      </div>

      <div class="control-group">
        <input  type="text" placeholder="Email" formControlName="email" required>
        <label class="login-field-icon fui-user" for="reg-name"></label>
        <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"></div>
        <span *ngIf="signUpForm.get('email')?.hasError('required')">Поле: "Email" не может быть пустым</span>
        <span *ngIf="signUpForm.get('email')?.hasError('email')">Неверный формат email</span>
      </div>

      <div class="control-group">
        <input formControlName="password" placeholder="Пароль" type="password" required>
        <label class="login-field-icon fui-user" for="reg-name"></label>
        <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"></div>
        <span *ngIf="signUpForm.get('password')?.hasError('required')">Поле: "Пароль" не может быть пустым</span>
        <span *ngIf="signUpForm.get('password')?.hasError('pattern')">Пароль меньше 8 символов</span>
      </div>
      <button type="login" class="btn btn-primary btn-large btn-block"
      [ngClass]="{'active-button': !signUpForm.invalid}"
      [disabled]="signUpForm.invalid "
      >Регистрация</button>
      <a class="login-link" routerLink="/auth/login">Уже есть аккаунт?</a>

   </form>
  </div>
 </div>


