

<header>
  <h1>Йога</h1>
</header>

<main>
  <ul class="exercise-list">
    <li class="exercise">
      <h2>Понедельник</h2>
      <p>Медитация 5 мин</p>
      <p>Поза ребёнка 20 повторений</p>
      <p>Поза кошки 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>
      <p>С поднятой ногой 20 повторений</p>
      <p>Собака мордой вверх 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>

    </li>

    <li class="exercise">
      <h2>Среда</h2>
      <p>Медитация 5 мин</p>
      <p>Поза ребёнка 20 повторений</p>
      <p>Поза кошки 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>
      <p>С поднятой ногой 20 повторений</p>
      <p>Собака мордой вверх 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>
    </li>

    <li class="exercise">
      <h2>Суббота</h2>
      <p>Медитация 5 мин</p>
      <p>Поза ребёнка 20 повторений</p>
      <p>Поза кошки 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>
      <p>С поднятой ногой 20 повторений</p>
      <p>Собака мордой вверх 20 повторений</p>
      <p>Собака мордой вниз 20 повторений</p>
    </li>
  </ul>



  <div class="workout-tracker-container">
    <div class="pulse-input">
      <label>Пульс:</label>
      <input type="number" class="pulse-number-input" [(ngModel)]="pulse">
    </div>
    <button class="add-button" (click)="addWorkoutToHistory()">Добавить в историю</button>
  </div>
</main>



